@tailwind base;
@tailwind components;
@tailwind utilities;

/*Esconder as setinhas do Input do tipo Number */

/* Para navegadores WebKit (Chrome, Safari) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Mouse do tipo pointer nas label */

label {
    cursor: pointer;
  }
  
  /* Para navegadores WebKit (Chrome, Safari) */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Para Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }